@page "/demohotel"
@using Model

<h3>We will display hotel rooms and amenities here!</h3>

<div class="border p-2 mt-2" style="background-color:azure">
    <h2 class="text-info"> Room List [USING COMPONENT]</h2>
    <div class="row container">
        <div class="col-12">
            <h4 class="text-info">Hotel Room's</h4>
        </div>
        @foreach (var room in RoomsList)
        {
            <IndividualRoom Room="@room"></IndividualRoom>
        }
        <div class="col-12 mt-4">
            <h4 class="text-info">Hotel Amenitie's[assignemnt]</h4>
        </div>
        @foreach (var amenity in AmenityList)
        {
            <HotelAmenity Amenity="@amenity"></HotelAmenity>
        }
    </div> 
</div>

@code{

    List<BlazorRoom> RoomsList = new List<BlazorRoom>();
    List<Amenities> AmenityList = new List<Amenities>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomsList.Add(new BlazorRoom
        {
            Id = 101,
            Name = "King Suite",
            Price = 100.00,
            RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{ Id = 1, Name = "Sq Ft", Value="100"},
                new BlazorRoomProp{Id = 2, Name="Occupancy", Value="3"}
            }
        });

        RoomsList.Add(new BlazorRoom
        {
            Id = 102,
            Name = "Queen Suite",
            Price = 70.00,
            RoomProps = new List<BlazorRoomProp>
            {
                new BlazorRoomProp{ Id = 1, Name = "Sq Ft", Value="70"},
                new BlazorRoomProp{Id = 2, Name="Occupancy", Value="2"}
            }
        });

        AmenityList.Add(new Amenities
        {
            Id = 111,
            Name = "Gym",
            Description = "24x7 gym room is available."
        });

        AmenityList.Add(new Amenities
        {
            Id = 222,
            Name = "Swimming Pool",
            Description = "Pool room in open from 6am to 10pm."
        });

        AmenityList.Add(new Amenities
        {
            Id = 333,
            Name = "Free Breakfast",
            Description = "Enjoy free breakfast at our hotel."
        });
    }
}